* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url('img5.jpg');
    height: 84vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
    
}

.main .box {
    height: 84vh;
    width: 100%;
    opacity: 0.62;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 80vw;
    height: 95px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

nav img {
    color: red;
    width : 135px;
    position: relative;
    z-index: 1;
    margin: 23px;
}

.button select {
    position: relative;
    z-index: 1;
    padding: 7px;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1.5px solid rgb(158, 154, 154);
    color: rgb(255, 255, 255);
    background-color: rgb(119, 111, 111);
    cursor: pointer;
}

.button button {
    position: relative;
    z-index: 1;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    color: white;
    background-color: red;
    cursor: pointer;
    font-weight: bold;
}

.hero {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-top: 40px;
    padding-top: 50px;
    font-size: 36px;
}

.hero .hero2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 36px;
}

.hero .hero3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 21px;
}

.EmailBox input {
    padding: 5px;
    padding-right: 47px;
    background-color: rgb(165, 165, 165);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(92, 86, 86);
}

.EmailBox button {
    background-color: red;
    color: white;
    border-radius: 2px;
    border: 1.5px solid red;
    align-items: center;
    padding: 7px;
    margin: 2px;
    cursor: pointer;
    font-weight: bold;
}

body {
    background-color: black;
}

.separation {
    height: 7px;
    background-color: rgb(158, 36, 93);
}

section .trending {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 25px 50px;
    padding: 22px 50px;
}

.sections {
    display: flex;
    justify-content: center;
}

.section1 img{
    border-radius: 5.5px;
    margin-left: 58px;
    padding-left: 55px;
    cursor: pointer;
    ;
}

.section2 img {
    border-radius: 5.5px;
    margin-left: 25px;
    cursor: pointer;
}

.section3 img {
    border-radius: 5.5px;
    margin-left: 25px;
    cursor: pointer;
}

.section4 img {
    border-radius: 5.5px;
    margin-left: 25px;
    cursor: pointer;
}

.section5 img {
    border-radius: 5.5px;
    margin-left: 25px;
    cursor: pointer;
}

.sections button {
    height: 89px;
    width: 18px;
    border-radius: 11px;
    margin-top: 65px;
    margin-left: 21px;
    cursor: pointer;
    background-color: #2a2626;
    color: white;
    font-weight: bold;
}

article .reason {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 25px 50px;
    padding: 22px 50px;
}

article .boxes{
    display: flex;
    justify-content: center;
}

.boxes .box1 {
    height: 38vh;
    width: 16vw;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgba(106, 164, 230, 0.692);
    border: 2px solid aqua;
    /* margin-left: 150px; */
    
}

.box1 h2 {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 14px;
}

.box1 p {
    color: rgb(177, 172, 172);
    font-weight: bolder;
    padding: 10px;
    font-size: 15px;
}

.box1 .image img {
    padding: 38px;
    margin-left: 34px;
}

.boxes .box2 {
    height: 38vh;
    width: 16vw;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgba(106, 164, 230, 0.692);
    border: 2px solid aqua;
    margin-left: 19px;
}

.box2 h2 {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 14px; 
}

.box2 p {
    color: rgb(177, 172, 172);
    font-weight: bolder;
    padding: 10px;
    font-size: 15px;
}

.box2 .image img {
    padding: 17px;
    margin-left: 50px;
}

.boxes .box3 {
    height: 38vh;
    width: 16vw;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgba(106, 164, 230, 0.692);
    border: 2px solid aqua;
    margin-left: 19px;
}

.box3 h2 {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 14px;
}

.box3 p {
    color: rgb(177, 172, 172);
    font-weight: bolder;
    padding: 10px;
    font-size: 15px;
}

.box3 .image img {
    padding: 34px;
    margin-left: 50px;
    margin-top: 25px;
}

.boxes .box4 {
    height: 38vh;
    width: 16vw;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgba(106, 164, 230, 0.692);
    border: 2px solid aqua;
    margin-left: 19px;
}

.box4 h2 {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 14px;
}

.box4 p {
    color: rgb(177, 172, 172);
    font-weight: bolder;
    padding: 10px;
    font-size: 15px;
}

.box4 .image img {
    padding: 21px;
    margin-left: 50px;
}

.FAQ {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 25px 50px;
    padding: 22px 50px;
}

.questions {
    align-items: center;
    color: white;
}

.Q1 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Q1 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q1 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q1:hover {
    background-color: rgb(60, 55, 55); 
}

.Q2 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Q2 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q2 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q2:hover {
    background-color: rgb(60, 55, 55); 
}

.Q3 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Q3 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q3 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q3:hover {
    background-color: rgb(60, 55, 55); 
}

.Q4 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Q4 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q4 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q4:hover {
    background-color: rgb(60, 55, 55); 
}

.Q5 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Q5 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q5 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q5:hover {
    background-color: rgb(60, 55, 55); 
}

.Q6 {
    height: 10vh;
    width: 80vw;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 38, 38);
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.Q6 .first {
    align-items: center;
    padding: 10px;
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}

.Q6 .second {
    align-self: center;
    font-size: 32px;
    padding: 15px;
    margin-top: 10px;
}

.Q6:hover {
    background-color: rgb(60, 55, 55); 
}

footer button {
    height: 60px;
    width: 250px;
    color: antiquewhite;
    background-color: red;
    font-weight: 700;
    margin-top: 51px;
    margin-left: 85px;
    border-radius: 7px;
    font-size: 19px;
    cursor: pointer;
}

footer .end {
    color: rgb(126, 124, 126);
    font-size: 18px;
    padding: 45px;
    margin-left: 45px;
}